body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
}

main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#crow {
    display: block;
    width: 100%;
    object-fit: contain;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    height: 20%;
    font-size: 1.5em;
    text-align: center;
}

@media (max-width: 800px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 1em;
    }
}