body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
}

main {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#crow {
    width: 100%;
    display: block;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 4em
}